@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Bold.ttf"); }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf"); }

body {
  font-size: 12px; }

/*html::-webkit-scrollbar {
    width: 6px;
    background-color: black;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: white;
}

html::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ff4757;
}*/
/*.modal::-webkit-scrollbar {
    width: 6px;
    background-color: black;
}

.modal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: white;
}

.modal::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ff4757;
}*/
@media (max-width: 767px) {
  .long-college-name {
    display: none; }
  .college-logo {
    margin: 0;
    width: 64px;
    height: 64px; }
  .burger {
    outline: none;
    margin-bottom: 10px;
    text-decoration: none;
    border: 0; }
  .burger:hover {
    outline: none;
    border: 0;
    text-decoration: none; }
  .short-college-name {
    font-family: "Comfortaa";
    font-size: 2.4em;
    line-height: 1;
    color: #ffffff;
    text-decoration: none; }
  .short-college-name:hover {
    color: #ffffff;
    text-decoration: none; }
  .mobile-header {
    /*background-color: $block-white;*/
    background-color: #262626a6;
    opacity: 0.9;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    z-index: 1020;
    text-decoration: none; }
  .mobile-menu-main {
    position: absolute !important;
    z-index: 1000;
    top: 0px;
    padding: 0 0 2%;
    font-size: 1.3em;
    transition: 0.3s;
    text-decoration: none; }
    .mobile-menu-main ul {
      padding: 10px 20px;
      background-color: #ffffff;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      box-shadow: 0px 1px 5px #888888; }
    .mobile-menu-main .active-page {
      font-size: 1.1em;
      border-radius: 25px;
      padding-left: 10px; }
      .mobile-menu-main .active-page a {
        color: #ff4757; }
      .mobile-menu-main .active-page .dropdown-item {
        color: #2a2d2d; }
    .mobile-menu-main a {
      font-family: "Roboto";
      color: #2a2d2d;
      text-decoration: none; }
    .mobile-menu-main a:hover {
      color: #ff4757;
      text-decoration: none; }
  .mobile-menu-sub {
    background: #ffffff;
    border-radius: 25px;
    color: #2a2d2d;
    font-size: 1em;
    font-family: "Roboto"; }
    .mobile-menu-sub a {
      padding: 5px 20px;
      color: #2a2d2d;
      text-decoration: none;
      white-space: normal; }
    .mobile-menu-sub a:hover {
      color: #ff4757;
      text-decoration: none; }
  .never-too-late {
    display: none !important; }
  .welcome {
    display: none !important; }
  .last-6-news {
    background-color: #ffffff; }
    .last-6-news .big-white {
      padding: 0;
      margin-top: 4%;
      margin-bottom: 0;
      font-size: 3em;
      font-family: Comfortaa;
      color: #2a2d2d;
      letter-spacing: -2px;
      line-height: 1;
      text-align: center; }
    .last-6-news .underline {
      height: 4px;
      border-radius: 2px;
      background-color: #1a1c1c;
      width: 3rem;
      margin: 0 auto 10px auto; }
    .last-6-news .news-space {
      padding: 5% 0 8%; }
      .last-6-news .news-space .column {
        width: 100%; }
        .last-6-news .news-space .column .card {
          margin: 0 0.3rem 0.8rem;
          border: 0;
          /*border: 1px solid $block-black;*/
          box-shadow: 1px 1px 9px black; }
          .last-6-news .news-space .column .card .card-body {
            padding: 10px 15px; }
            .last-6-news .news-space .column .card .card-body .card-title {
              font-family: "Comfortaa";
              font-size: 1.5em;
              color: #2a2d2d;
              text-decoration: none; }
            .last-6-news .news-space .column .card .card-body .card-title:hover {
              color: #ff4757;
              text-decoration: none; }
            .last-6-news .news-space .column .card .card-body .underline {
              background-color: #ff4757;
              border-radius: 2px;
              width: 3rem;
              margin: 3px auto 7px 0;
              padding: 0; }
            .last-6-news .news-space .column .card .card-body .date {
              font-family: "Roboto";
              font-size: 1em;
              color: #7a7d7d; }
            .last-6-news .news-space .column .card .card-body .card-text {
              font-family: "Roboto";
              font-size: 1.2em;
              color: #333333; }
  .blog {
    background-color: #ffffff;
    padding-top: 1%;
    padding-bottom: 1%; }
    .blog .post {
      /*padding: 1% 1% 1%;*/
      width: 100%; }
      .blog .post .card {
        margin: 0 0.3rem 0.8rem;
        border: 0;
        box-shadow: 1px 1px 9px black; }
        .blog .post .card .card-body {
          padding: 10px 15px; }
          .blog .post .card .card-body .card-title {
            font-family: "Comfortaa";
            font-size: 1.5em;
            color: #2a2d2d;
            text-decoration: none; }
          .blog .post .card .card-body .card-title:hover {
            color: #ff4757;
            text-decoration: none; }
          .blog .post .card .card-body .underline {
            background-color: #ff4757;
            border-radius: 2px;
            height: 4px;
            width: 3rem;
            margin: 3px auto 7px 0;
            padding: 0; }
          .blog .post .card .card-body .date {
            font-family: "Roboto";
            font-size: 1em;
            color: #7a7d7d; }
          .blog .post .card .card-body .card-text {
            font-family: "Roboto";
            font-size: 1.2em;
            color: #333333; }
            .blog .post .card .card-body .card-text img {
              width: 100%; }
  .modal .modal-dialog .modal-content .mod-flex .card {
    border: 0; }
    .modal .modal-dialog .modal-content .mod-flex .card .card-body {
      padding: 10px 13px; }
      .modal .modal-dialog .modal-content .mod-flex .card .card-body .card-title {
        font-family: "Comfortaa";
        font-size: 1.5em;
        color: #2a2d2d;
        text-decoration: none;
        margin-bottom: 0; }
      .modal .modal-dialog .modal-content .mod-flex .card .card-body .card-title:hover {
        color: #2a2d2d;
        text-decoration: none; }
      .modal .modal-dialog .modal-content .mod-flex .card .card-body .underline {
        background-color: #ff4757;
        border-radius: 2px;
        width: 3rem;
        height: 4px;
        margin: 3px auto 7px 0;
        padding: 0; }
      .modal .modal-dialog .modal-content .mod-flex .card .card-body .date {
        font-family: "Roboto";
        font-size: 1em;
        color: #7a7d7d; }
      .modal .modal-dialog .modal-content .mod-flex .card .card-body .card-text {
        font-family: "Roboto";
        font-size: 1.2em;
        color: #333333; }
        .modal .modal-dialog .modal-content .mod-flex .card .card-body .card-text img {
          width: 100%; }
  .share {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* icons */ }
    .share a {
      width: 40px;
      height: 40px;
      display: inline-block;
      margin: 1px;
      border-radius: 50%;
      font-size: 24px;
      color: #fff;
      opacity: 0.75;
      transition: opacity 0.15s linear;
      transition: 0.3s;
      box-shadow: 0px 5px 10px #888888; }
    .share a:hover {
      opacity: 1;
      transition: 0.3s;
      box-shadow: 0px 7px 10px #888888; }
    .share i {
      position: relative;
      top: 35%;
      transform: translateY(-50%); }
    .share .facebook {
      background: #3b5998; }
    .share .twitter {
      background: #55acee; }
    .share .telegram {
      background: #0088cc; }
    .share .viber {
      background: #665CAC; }
    .share .googleplus {
      background: #dd4b39; }
    .share .linkedin {
      background: #0077b5; }
    .share .pinterest {
      background: #cb2027; }
    .share .btn {
      outline: none;
      border: 0;
      padding: 0.3em 0 0; }
  .news-letter {
    background-color: #ff4757; }
    .news-letter .big-white {
      padding: 0;
      margin-top: 8%;
      margin-bottom: 0;
      font-size: 3em;
      font-family: Comfortaa;
      color: #ffffff;
      letter-spacing: -2px;
      line-height: 1;
      text-align: center; }
    .news-letter .underline {
      height: 4px;
      border-radius: 2px;
      background-color: #ffffff;
      width: 3rem;
      margin: 0 auto 10px auto; }
    .news-letter .newsletter-form {
      margin: 4% 0 8%; }
      .news-letter .newsletter-form ::placeholder {
        /* Firefox, Chrome, Opera */
        color: #ffffff; }
      .news-letter .newsletter-form .email-input {
        width: 80%;
        text-overflow: ellipsis;
        outline: none;
        border: 1px solid #ffffff;
        border-radius: 35px;
        text-align: center;
        color: #ffffff;
        font-size: 1.2em;
        font-family: "Roboto";
        padding: 1.5% 4%;
        margin-bottom: 20px;
        background-color: #ff4757; }
      .news-letter .newsletter-form input[type=submit] {
        width: 80%;
        text-overflow: ellipsis;
        outline: none;
        color: #ff4757;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 35px;
        font-size: 1.2em;
        font-family: "Roboto";
        padding: 1.5% 4%;
        transition: 0.3s; }
      .news-letter .newsletter-form input[type=submit]:hover {
        width: 80%;
        outline: none;
        color: #ffffff;
        background-color: #ff4757;
        border: 1px solid #ffffff;
        transition: 0.3s; }
  .contuct-us-full {
    background-color: #ffffff; }
    .contuct-us-full .big-black {
      padding: 0 10px;
      margin-top: 8%;
      margin-bottom: 0;
      font-size: 3em;
      font-family: Comfortaa;
      color: #2a2d2d;
      letter-spacing: -2px;
      line-height: 1;
      text-align: center; }
    .contuct-us-full .underline {
      height: 4px;
      border-radius: 2px;
      background-color: #ff4757;
      width: 3rem;
      margin: 0 auto 10px auto; }
    .contuct-us-full .contuct-form {
      margin: 4% 0 8%; }
      .contuct-us-full .contuct-form ::placeholder {
        /* Firefox, Chrome, Opera */
        color: #7a7d7d;
        text-align: left; }
      .contuct-us-full .contuct-form input {
        width: 90%;
        text-overflow: ellipsis;
        outline: none;
        border: 2px solid #c9c8ca;
        border-radius: 35px;
        color: #7a7d7d;
        font-size: 1.2em;
        font-family: "Roboto";
        padding: 10px 20px;
        margin-bottom: 10px; }
      .contuct-us-full .contuct-form textarea {
        width: 90%;
        text-overflow: ellipsis;
        outline: none;
        border: 2px solid #c9c8ca;
        border-radius: 25px;
        color: #7a7d7d;
        font-size: 1.2em;
        font-family: "Roboto";
        padding: 20px 20px;
        margin-bottom: 15px;
        transition: 0.3s;
        resize: none;
        height: 240px; }
      .contuct-us-full .contuct-form input[type=submit] {
        width: 40%;
        text-overflow: ellipsis;
        outline: none;
        color: #ffffff;
        background-color: #ff4757;
        border: 0;
        /*border: 2px solid $block-white;*/
        border-radius: 35px;
        font-size: 1.2em;
        font-family: "Roboto";
        padding: 10px 0;
        transition: 0.3s; }
      .contuct-us-full .contuct-form input[type=submit]:hover {
        width: 40%;
        outline: none;
        color: #ffffff;
        background-color: #3a3c3c;
        border: 0;
        /*border: 2px solid $block-white;*/
        transition: 0.3s; }
  .contact-us {
    background-color: #ffffff;
    /*height: 80vh;*/ }
    .contact-us .big-black {
      padding: 0 5px;
      margin-top: 8%;
      margin-bottom: 0;
      font-size: 3em;
      font-family: Comfortaa;
      color: #2a2d2d;
      letter-spacing: -2px;
      line-height: 1;
      text-align: center; }
    .contact-us .underline {
      height: 4px;
      border-radius: 2px;
      background-color: #ff4757;
      width: 3rem;
      margin: 0 auto 10px auto; }
    .contact-us .address {
      width: 100%;
      margin-top: 5%;
      margin-bottom: 8%;
      word-wrap: normal; }
      .contact-us .address img {
        margin-bottom: 10px; }
      .contact-us .address p {
        text-align: center;
        font-family: "Roboto";
        font-size: 1.1em;
        color: #7a7d7d;
        margin: 0;
        text-align: center;
        padding-right: 5px;
        padding-left: 5px; }
    .contact-us .phone {
      width: 100%;
      margin-top: 5%;
      margin-bottom: 8%; }
      .contact-us .phone img {
        margin-bottom: 10px; }
      .contact-us .phone p {
        text-align: center;
        font-family: "Roboto";
        font-size: 1.1em;
        color: #7a7d7d;
        margin: 0;
        text-align: center; }
    .contact-us .mail {
      width: 100%;
      margin-top: 5%;
      margin-bottom: 8%; }
      .contact-us .mail img {
        margin-bottom: 10px; }
      .contact-us .mail p {
        text-align: center;
        font-family: "Roboto";
        font-size: 1.1em;
        color: #7a7d7d;
        margin: 0;
        text-align: center; }
  .copyright {
    background-color: white;
    height: 13vh;
    border-top: 1px solid #c9c8ca; }
    .copyright p {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      font-family: "Roboto";
      font-size: 1em;
      color: #7a7d7d;
      margin: 0; } }

@media (max-width: 575px) {
  .college-logo {
    display: none; }
  .burger {
    margin-bottom: 0px; }
  .short-college-name {
    font-size: 1.9em;
    line-height: 1;
    color: #ffffff;
    text-decoration: none; } }

/*@include respond-between(xs,sm){

}*/
@media (min-width: 768px) {
  .short-college-name {
    display: none; }
  .mobile-header {
    padding-top: 50px;
    padding-bottom: 20px; }
  .college-logo {
    margin: 0 3% 0 7%;
    width: 100px;
    height: 100px; }
  .long-college-name {
    font-family: "Comfortaa";
    font-size: 2.5em;
    line-height: 1;
    color: #ffffff;
    text-decoration: none; }
  .long-college-name:hover {
    color: #ffffff;
    text-decoration: none; }
  .menu-line {
    height: 1px;
    background-color: #ffffff;
    width: 80%;
    opacity: 0.4;
    margin: 0 auto 10px auto; }
  ul {
    font-size: 1.1em;
    letter-spacing: -1px;
    padding-top: 10px;
    padding-bottom: 10px; }
    ul .menu-item {
      background-color: transparent;
      margin: 0 0.3%;
      padding: 5px 10px;
      border-radius: 20px;
      transition: 0.3s; }
      ul .menu-item a {
        font-family: "Roboto";
        color: #ffffff;
        text-decoration: none; }
    ul .active-page {
      background: #ff4754; }
    ul .menu-item:hover {
      background: #ff4754;
      border-radius: 20px;
      background: #ff4754;
      transition: 0.3s; }
      ul .menu-item:hover a {
        background: none;
        /*color: white;*/
        text-decoration: none; }
    ul .deck-menu-sub {
      background: #ffffff;
      border-radius: 25px;
      color: #2a2d2d;
      font-size: 1em;
      font-family: "Roboto"; }
      ul .deck-menu-sub a {
        color: #2a2d2d;
        text-decoration: none; }
      ul .deck-menu-sub a:hover {
        color: #ff4757;
        text-decoration: none; }
  .never-too-late {
    height: 80vh; }
    .never-too-late .big {
      font-size: 5em;
      font-family: Comfortaa;
      letter-spacing: -2px;
      color: white;
      line-height: 1;
      text-align: center;
      text-shadow: 1px 2px 6px #000000; }
    .never-too-late .small {
      font-size: 1.5em;
      font-family: "Roboto";
      color: white;
      line-height: 1;
      text-align: center; }
    .never-too-late .read-more {
      margin-top: 5%;
      color: #ffffff;
      font-size: 1.2em;
      font-family: "Roboto";
      padding: 1.5% 4%;
      border: 2px solid white;
      border-radius: 35px;
      text-decoration: none;
      transition: 0.3s; }
    .never-too-late .read-more:hover {
      border: 2px solid #ff4757;
      background-color: #ff4757;
      text-decoration: none;
      transition: 0.3s; }
  .welcome {
    background-color: #ffffff;
    /*height: 80vh;*/ }
    .welcome .big-black {
      padding: 0;
      margin-top: 4%;
      margin-bottom: 0;
      font-size: 6em;
      font-family: Comfortaa;
      color: #2a2d2d;
      letter-spacing: -2px;
      line-height: 1;
      text-align: center; }
    .welcome .underline {
      height: 4px;
      border-radius: 2px;
      background-color: #ff4757;
      width: 5rem;
      margin: 0 auto 10px auto; }
    .welcome .welcome-text-block {
      padding: 4% 15px;
      width: 33%;
      font-family: "Roboto";
      font-size: 1.1em;
      font-weight: 300;
      font-style: normal;
      color: #7a7d7d;
      line-height: 1.5; }
    .welcome .read-more {
      color: #ffffff;
      font-size: 1.2em;
      font-family: "Roboto";
      padding: 1.5% 4%;
      margin-bottom: 4%;
      background-color: #ff4757;
      border-radius: 35px;
      text-decoration: none;
      transition: 0.3s; }
    .welcome .read-more:hover {
      background-color: #3a3c3c;
      text-decoration: none;
      transition: 0.3s; }
  .news-letter {
    background-color: #ff4757; }
    .news-letter .big-white {
      padding: 0;
      margin-top: 8%;
      margin-bottom: 0;
      font-size: 6em;
      font-family: Comfortaa;
      color: #ffffff;
      letter-spacing: -2px;
      line-height: 1;
      text-align: center; }
    .news-letter .underline {
      height: 4px;
      border-radius: 2px;
      background-color: #ffffff;
      width: 5rem;
      margin: 0 auto 10px auto; }
    .news-letter .newsletter-form {
      margin: 4% 0 8%; }
      .news-letter .newsletter-form ::placeholder {
        /* Firefox, Chrome, Opera */
        color: #ffffff; }
      .news-letter .newsletter-form .email-input {
        width: 50%;
        text-overflow: ellipsis;
        outline: none;
        border: 2px solid #ffffff;
        border-radius: 35px;
        text-align: center;
        color: #ffffff;
        font-size: 1.2em;
        font-family: "Roboto";
        padding: 1.5% 4%;
        margin-bottom: 20px;
        background-color: #ff4757; }
      .news-letter .newsletter-form input[type=submit] {
        width: 50%;
        text-overflow: ellipsis;
        outline: none;
        color: #ff4757;
        background-color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 35px;
        font-size: 1.2em;
        font-family: "Roboto";
        padding: 1.5% 4%;
        transition: 0.3s; }
      .news-letter .newsletter-form input[type=submit]:hover {
        width: 50%;
        outline: none;
        color: #ffffff;
        background-color: #ff4757;
        border: 2px solid #ffffff;
        transition: 0.3s; }
  .last-6-news {
    background-color: #1a1c1c; }
    .last-6-news .big-white {
      padding: 0;
      margin-top: 4%;
      margin-bottom: 0;
      font-size: 6em;
      font-family: Comfortaa;
      color: #ffffff;
      letter-spacing: -2px;
      line-height: 1;
      text-align: center; }
    .last-6-news .underline {
      height: 4px;
      border-radius: 2px;
      background-color: #ffffff;
      width: 5rem;
      margin: 0 auto 10px auto; }
    .last-6-news .news-space {
      padding: 5% 5% 8%; }
      .last-6-news .news-space .column {
        width: 33.33333%; }
        .last-6-news .news-space .column .card {
          margin: 5px;
          border: 0; }
          .last-6-news .news-space .column .card .card-body .card-title {
            font-family: "Comfortaa";
            font-size: 1.8em;
            color: #2a2d2d;
            text-decoration: none; }
          .last-6-news .news-space .column .card .card-body .card-title:hover {
            color: #ff4757;
            text-decoration: none; }
          .last-6-news .news-space .column .card .card-body .underline {
            background-color: #ff4757;
            border-radius: 2px;
            width: 5rem;
            margin: 5px auto 10px 0;
            padding: 0; }
          .last-6-news .news-space .column .card .card-body .date {
            font-family: "Roboto";
            font-size: 1em;
            color: #7a7d7d; }
          .last-6-news .news-space .column .card .card-body .card-text {
            font-family: "Roboto";
            font-size: 1.3em;
            color: #333333; }
  .blog {
    background-color: #ffffff;
    padding-top: 2%;
    padding-bottom: 1%; }
    .blog .post {
      padding: 1% 5% 1%;
      width: 70%; }
      .blog .post .card {
        margin: 5px;
        border: 0;
        box-shadow: 1px 1px 12px grey; }
        .blog .post .card .card-body .card-title {
          font-family: "Comfortaa";
          font-size: 1.8em;
          color: #2a2d2d;
          text-decoration: none; }
        .blog .post .card .card-body .card-title:hover {
          color: #ff4757;
          text-decoration: none; }
        .blog .post .card .card-body .underline {
          background-color: #ff4757;
          border-radius: 2px;
          width: 5rem;
          margin: 5px auto 10px 0;
          padding: 0;
          height: 4px; }
        .blog .post .card .card-body .date {
          font-family: "Roboto";
          font-size: 1em;
          color: #7a7d7d; }
        .blog .post .card .card-body .card-text {
          font-family: "Roboto";
          font-size: 1.3em;
          color: #333333; }
          .blog .post .card .card-body .card-text img {
            width: 100%; }
  .modal .modal-dialog .modal-content .mod-flex .card .card-body .card-title {
    font-family: "Comfortaa";
    font-size: 1.8em;
    color: #2a2d2d;
    text-decoration: none; }
  .modal .modal-dialog .modal-content .mod-flex .card .card-body .card-title:hover {
    text-decoration: none;
    color: #2a2d2d; }
  .modal .modal-dialog .modal-content .mod-flex .card .card-body .underline {
    background-color: #ff4757;
    border-radius: 2px;
    width: 5rem;
    margin: 5px auto 10px 0;
    padding: 0;
    height: 4px; }
  .modal .modal-dialog .modal-content .mod-flex .card .card-body .date {
    font-family: "Roboto";
    font-size: 1em;
    color: #7a7d7d; }
  .modal .modal-dialog .modal-content .mod-flex .card .card-body .card-text {
    font-family: "Roboto";
    font-size: 1.3em;
    color: #333333; }
    .modal .modal-dialog .modal-content .mod-flex .card .card-body .card-text img {
      width: 100%; }
  .share {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* icons */ }
    .share a {
      width: 50px;
      height: 50px;
      display: inline-block;
      margin: 8px;
      border-radius: 50%;
      font-size: 24px;
      color: #fff;
      opacity: 0.75;
      transition: opacity 0.15s linear;
      transition: 0.3s;
      box-shadow: 0px 5px 10px #888888; }
    .share a:hover {
      opacity: 1;
      transition: 0.4s;
      box-shadow: 0px 7px 10px #888888; }
    .share i {
      position: relative;
      top: 38%;
      transform: translateY(-50%); }
    .share .facebook {
      background: #3b5998; }
    .share .twitter {
      background: #55acee; }
    .share .telegram {
      background: #0088cc; }
    .share .viber {
      background: #665CAC; }
    .share .googleplus {
      background: #dd4b39; }
    .share .linkedin {
      background: #0077b5; }
    .share .pinterest {
      background: #cb2027; }
    .share .btn {
      outline: none;
      border: 0;
      padding: 1em; }
  .contuct-us-full {
    background-color: #ffffff; }
    .contuct-us-full .big-black {
      padding: 0;
      margin-top: 8%;
      margin-bottom: 0;
      font-size: 6em;
      font-family: Comfortaa;
      color: #2a2d2d;
      letter-spacing: -2px;
      line-height: 1;
      text-align: center; }
    .contuct-us-full .underline {
      height: 4px;
      border-radius: 2px;
      background-color: #ff4757;
      width: 5rem;
      margin: 0 auto 10px auto; }
    .contuct-us-full .contuct-form {
      margin: 4% 0 8%; }
      .contuct-us-full .contuct-form ::placeholder {
        /* Firefox, Chrome, Opera */
        color: #7a7d7d;
        text-align: left; }
      .contuct-us-full .contuct-form input {
        width: 80%;
        text-overflow: ellipsis;
        outline: none;
        border: 2px solid #c9c8ca;
        border-radius: 35px;
        color: #7a7d7d;
        font-size: 1.2em;
        font-family: "Roboto";
        padding: 1.5% 2%;
        margin-bottom: 20px; }
      .contuct-us-full .contuct-form textarea {
        width: 80%;
        text-overflow: ellipsis;
        outline: none;
        border: 2px solid #c9c8ca;
        border-radius: 35px;
        color: #7a7d7d;
        font-size: 1.2em;
        font-family: "Roboto";
        padding: 1.5% 2%;
        margin-bottom: 20px;
        transition: 0.3s;
        resize: none;
        height: 240px; }
      .contuct-us-full .contuct-form input[type=submit] {
        width: 20%;
        text-overflow: ellipsis;
        outline: none;
        color: #ffffff;
        background-color: #ff4757;
        border: 0;
        /*border: 2px solid $block-white;*/
        border-radius: 35px;
        font-size: 1.2em;
        font-family: "Roboto";
        padding: 1.5% 4%;
        transition: 0.3s; }
      .contuct-us-full .contuct-form input[type=submit]:hover {
        width: 20%;
        outline: none;
        color: #ffffff;
        background-color: #3a3c3c;
        border: 0;
        /*border: 2px solid $block-white;*/
        transition: 0.3s; }
  .contact-us {
    background-color: #ffffff;
    /*height: 80vh;*/ }
    .contact-us .big-black {
      padding: 0;
      margin-top: 8%;
      margin-bottom: 0;
      font-size: 6em;
      font-family: Comfortaa;
      color: #2a2d2d;
      letter-spacing: -2px;
      line-height: 1;
      text-align: center; }
    .contact-us .underline {
      height: 4px;
      border-radius: 2px;
      background-color: #ff4757;
      width: 5rem;
      margin: 0 auto 10px auto; }
    .contact-us .address {
      width: 30%;
      margin-top: 4%;
      margin-bottom: 8%;
      word-wrap: normal; }
      .contact-us .address img {
        margin-bottom: 40px; }
      .contact-us .address p {
        text-align: center;
        font-family: "Roboto";
        font-size: 1.2em;
        color: #7a7d7d;
        margin: 0;
        text-align: center; }
    .contact-us .phone {
      width: 30%;
      margin-top: 4%;
      margin-bottom: 8%; }
      .contact-us .phone img {
        margin-bottom: 40px; }
      .contact-us .phone p {
        text-align: center;
        font-family: "Roboto";
        font-size: 1.2em;
        color: #7a7d7d;
        margin: 0;
        text-align: center; }
    .contact-us .mail {
      width: 30%;
      margin-top: 4%;
      margin-bottom: 8%; }
      .contact-us .mail img {
        margin-bottom: 40px; }
      .contact-us .mail p {
        text-align: center;
        font-family: "Roboto";
        font-size: 1.2em;
        color: #7a7d7d;
        margin: 0;
        text-align: center; }
  .copyright {
    background-color: white;
    height: 15vh;
    border-top: 1px solid #c9c8ca; }
    .copyright p {
      text-align: center;
      font-family: "Roboto";
      font-size: 1em;
      color: #7a7d7d;
      margin: 0; } }

@media (min-width: 992px) {
  .long-college-name {
    font-family: "Comfortaa";
    letter-spacing: -2px;
    font-size: 3em;
    font-weight: 900;
    color: #ffffff;
    text-decoration: none; }
  .college-logo {
    margin: 0 2% 0 10%;
    width: 128px;
    height: 128px; }
  ul {
    font-size: 1.4em; }
    ul .menu-item {
      margin: 0 0.4%;
      padding: 5px 15px;
      border-radius: 25px;
      transition: 0.3s; }
      ul .menu-item a {
        font-family: "Roboto";
        color: #ffffff;
        text-decoration: none; }
    ul .menu-item:hover {
      background: #ff4754;
      border-radius: 25px;
      background: #ff4754;
      transition: 0.3s; }
      ul .menu-item:hover a {
        background: none;
        text-decoration: none; }
    ul .deck-menu-sub {
      background: #ffffff;
      border-radius: 25px;
      color: #2a2d2d;
      font-size: 1em;
      font-family: "Roboto"; }
      ul .deck-menu-sub a {
        color: #2a2d2d;
        text-decoration: none; }
      ul .deck-menu-sub a:hover {
        color: #ff4757;
        text-decoration: none; }
  .never-too-late {
    height: 100vh; }
    .never-too-late .big {
      font-size: 7em; }
    .never-too-late .small {
      font-size: 1.6em;
      font-family: "Roboto"; }
  .welcome {
    /*height: 100vh;*/ }
    .welcome .big-black {
      font-size: 7em; }
    .welcome .underline {
      height: 4px;
      width: 6rem; }
    .welcome .welcome-text-block {
      padding: 4% 15px;
      width: 27%;
      font-size: 1.2em;
      font-weight: 300; }
    .welcome .read-more {
      font-size: 1.2em;
      padding: 1.5% 4%;
      border-radius: 35px; }
  .news-letter .big-white {
    font-size: 7em; }
  .news-letter .underline {
    width: 6rem; }
  .contact-us .big-black {
    font-size: 7em; }
  .contact-us .underline {
    height: 4px;
    width: 6rem; }
  .copyright {
    height: 20vh; }
    .copyright p {
      font-size: 1.3em; } }
